/* 基本設定 */
body {
  background: #CBC0D3;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
/* コンテナ設定 */
.container {
  margin: auto;
  width: 650px;
  height: 550px;
  position: relative;
}
.welcome {
  background: #F6F6F6;
  width: 650px;
  height: 415px;
  position: absolute;
  top: 25%;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, .1);
}
.pinkbox {
  position: absolute;
  top: -10%;
  left: 5%;
  background: #EAC7CC;
  width: 320px;
  height: 500px;
  border-radius: 5px;
  box-shadow: 2px 0 10px rgba(0, 0, 0, .1);
}
/* 見出し設定 */
h2 {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  margin-top: 50px;
  text-transform: uppercase;
  color: #F6F6F6;
  font-size: 2em;
  letter-spacing: 8px;
}
/* フォーム設定 */
form {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 7px;
}
input {
  background: #EAC7CC;
  width: 65%;
  color: #B85C5C;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding: 9px;
  margin: 7px;
}
input::placeholder {
  color: rgba(255, 255, 255, 1);
  letter-spacing: 2px;
  font-size: 1.3em;
}
button {
  padding: 12px;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 11px;
  border-radius: 10px;
  margin: auto;
  outline: none;
  display: block;
  background: #F6F6F6;
  color: #B85C5C;
  border: solid 1px #EAC7CC;
  cursor: pointer;
}
button:hover {
  background: #EAC7CC;
  color: #F6F6F6;
  transition: background-color 1s ease-out;
}
/* 追加した画像のスタイル */
.signin-image {
  display: block;
  margin: 20px auto;
  width: 100px;
  height: auto;
  opacity: 0.8;
}